body {
background-color: rgb(0, 61, 0);
}

.image {
background-color: white;
height: auto;
width: 100%;
}

.kader {
  background-color: white;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin:auto;
}

#gallery {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
}

#oplossing {
  display: flex;
  align-items: center;
  width: max-content;
  height: 150px;
}

.note-slot {
  width: 150px;       /* key alignment value */
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-slot-oplossing {
  width: 150px;       /* key alignment value */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 61, 0);
}

.titel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
font-size: 100px;
color: rgb(255, 255, 255);
}

h1 {
    color: rgb(10, 238, 10);
    text-align: center;
}

b {
    color: white;
    font-size: 50px;
    padding: 30px;
}

.digit {
    font-size: 150px;
    color: #fff;
}

.txt {
    font-size: 30px;
    color: #fffcd6;
}

#buttons {
    margin-top: 50px;
}

.btn {
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}

#start {
    background-color: #009779;
}

#stop {
    background-color: #0e85fc;
}

#reset {
    background-color: #c91400;
}

#toon-oplossing{
    background-color: #46347A;
}

label {
            display: table-cell;
            white-space: nowrap;
	    padding: 15px;
	    font-size: 30px;
        }

select {
            display: table-cell;
            white-space: nowrap;
	    padding: 10px;
	    font-size: 30px;
        }
		
.labels {
	color:white;
	font-size: 30px;
}

#menus {
	display: table;
}

#myImage {
  max-width: 100%;
  height: auto;
  display: block;
}

.note-image {
  height: 530px;
}

@media (max-width: 768px) {

  .note-image {
    height: 300px;
  }

  .digit {
    font-size: 80px;
  }

  .titel {
    font-size: 50px;
    text-align: center;
  }

  .btn {
    font-size: 16px;
    margin: 10px;
  }

}
